:root {
	--duration: 10s;
	--size: 80vw;
	--characters: 14;
	--font-size: 22px;
	--delay-character: 0.2s;
	--text-color-hover: #ff8489;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	background: url(https://img.freepik.com/vector-gratis/fondo-abstracto-blanco_23-2148806276.jpg?size=626&ext=jpg)
		no-repeat center;
	background-size: cover;
}
